.pricing_section{
    background: rgba(0, 0, 0, 0) url(./images/ce-parallax-1.jpg) no-repeat fixed 50% 0;

    .items{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 648px 315px;

        .title{
            text-align: center;
            font-size: 27px;
            font-weight: 700;
            text-decoration: underline;
        }
    
        .description{
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            color: #443b97;
            margin-top: 10px;
            margin-bottom: 50px;
        }
    }

    .pricing_top{
        background-color: rgba(245, 245, 245, 0.9);
        padding-top: 120px;

        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            margin-top: 70px;
            height: 580px;

            .card {
                background-color: #fff;
                padding-top: 20px;
                text-align: center;
                padding: 40px;

                

                .card_bottom {
                    

                    a {
                        color: white;
                        text-align: center;
                        position: absolute;
                        border: 1px solid #fff;
                        padding: 10px 36px;
                        margin: 0px -74px;
                        font-weight: bold;
                    }
                    a:hover{
                        background-color: #fff;
                        color: black;
                    }
                }

                .pricing_list {
                    padding: 20px 0;
                    display: grid;
                    margin-bottom: 95px;

                    span{
                        border-bottom: 1px solid #ccc;
                        padding: 10px 0;
                        font-size: 15px;
                    }
                }

                

                .price {
                    color: #443b97;
                    margin: 15px auto 0 auto;
                    padding: 20px 0px;
                    width: 100px;
                    border-bottom: 1px solid #443b97;
                

                    .many {
                        font-size: 27px;
                        font-weight: bold;
                    }
                    .mo{
                        display: block;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                .basic {
                    font-weight: 400;
                    font-size: 27px;
                }
            }
        }
    }

    .pricing_bottom{
        background-color: rgba(68, 59, 151, 0.9);
    }
}